*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body {
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.body-dark {
    background-color: rgb(0, 0, 68);
    color: white;
}


#option-div {
    background-color: teal;
    border-radius: 5px;
    padding-inline: 8px;
    padding-block: 15px;
    transition: all;
    transition-duration: 0.5s;
}

.option-div-dark {
    background-color: rgb(0, 31, 31);
}

/* .option:hover {
} */

#options {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

#options > *:hover {
    background-color: rgb(190, 190, 0);
    cursor: pointer;
}

#percent {
    width: 50px;
    /* height: 100%; */
    background-color: blue;
    position: absolute;
    bottom: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-left: 10px;
}

.percent-dark {
    background-color: rgb(0, 0, 53) !important;
}

#percent-container {
    margin-top: 10px;
    background-color: rgba(0, 128, 0, 0.308);
    height: 250px;
    width: 100%;
    position: relative;
}


#question-container {
    display: none;
}

#restart {
    cursor: pointer;
    background-color: yellow;
    position: absolute;
    color: black;
    top: 10px;
    left: 15px;
    border-radius: 5px;
    padding-inline: 10px;
    padding-block: 5px;
    font-size: 50px;
}

#score-sect {
    display: none;
}

section {
    width: 60%;
    background-color: coral;
    padding: 20px;
    border-radius: 10px;
}

#switch-mode {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

#timer-and-progress {
    background-color: yellow;
    position: absolute;
    color: black;
    top: 10px;
    left: 5px;
    border-radius: 5px;
    padding-inline: 10px;
    padding-block: 5px;
    font-size: 50px;
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: space-between;
}

.timer-dark {
    background-color: rgb(83, 83, 0) !important;
    color: white !important;
}


#start {
    border: none;
    background-color: olive;
    padding-block: 10px;
    padding-inline: 25px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.start-dark {
    background-color: rgb(37, 37, 0);
    color: white;
}

#welcome-container button:hover {
    background-color: rgb(151, 151, 29);
    color: rgb(208, 208, 208);
}

@media(max-width: 370px) {
    #options {
        grid-template-columns: 1fr;
    }
    #score-sect {
        text-align: center;
    }
    #timer-and-progress {
        left: 0;
    }
}

@media(max-width: 150px) {
    h1 {
        font-size: 14px;
    }
    section {
        width: 90%;
        padding-inline: 5px;
        text-align: center;
        font-size: 10px;
    }
}